
# size and dimensions
dim_run = 3 # this is just for the read run process, make sure it is equal to dim in .h
nx = 50   # size in the x direction
ny = 50   # size in the y direction
nz = 50   # size in the z direction

dx = 0.001 # discretizing  

p = 3 # Polynomial, p+1=nodes per element
a = 0.0d0
b = 1.0d0
# initilize states
  # Tempature
  temp_dist = gaussian # type of distribution ! add equal
  temp_mean = 80 #temp mean in ! what unit?
  temp_var = 2 # temp variance 

  # mass
  mass_dist = gaussian # type of distribution ! add equal
  mass_mean = 10 # mass mean ! what unit?
  mass_var = 2 # mass variance

  # Momentum
  momentum_dist = guassian # type of distribution ! add equal
  momentum_mean = 10 # momentum mean ! what unit?
  momentum_var = 2 # momentum variance

  # Entropy
  entropy_dist = guassian # type of distribution ! add equal
  entropy_mean = 10 # entropy mean ! what unit?
  entropy_var = 2 # entropy variance
  
# 4-bracket system


# Dynamics
mass = True    # asking if mass is one of the observable dynamics
momentum = True    # asking if momentum is one
entropy = True    # asking if entropy is one

# test 

string = "dT_h_dx, phi_m_i, sigma_h, deta_h_dx, phi_m_i, rho_h, dphi_m_dx, m_h, u_h, du_h_dx, m_h, Re"
